.about-card {
    padding: 10px 0 10px 20px;
    border-left: 4px solid #6caaf6cc;
    border-radius: 3px;
}

.about-card p {
    margin: 0 !important;
}

.about{
    background-color: #f8f9fa; 
    padding: 80px 0; 
    margin-top: 80px;
  }