:root {
  --main-color: #012169;
  --second-color: #009739;
  --hover-color: #d1be40;
}


body {
  font-family: "Roboto", sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: #fff; 
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); 

}
.slider{
  margin-top: 135px;
}


/* Custom styles for the dropdown menu */
#lang {
  position: relative;
  display: inline-block;
}

.menu_link {
  color: var(--main-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.menu_link:hover{
  color: var(--hover-color);
  transition: .4s;
}

.menu_link i {
  margin-right: 5px;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--main-color);
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
  color: var(--hover-color);
  transition: .4s;
}

hr {
  margin: 0;
  opacity: 0.1;
}

.navbar-toggler.ml-auto {
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .dropdown {
    position: relative;
    left: -4px;
  }
}

header {
  margin-bottom: 30px;
}

.slider {
  
  margin-bottom: 30px;
}

.carousel-item img {
  max-height: 550px;
  margin: 0 auto;
  object-fit: cover;
}

.home_new_search_box_all {
  position: absolute;
  top: 160px;
}

.home_new_search_box_content_title {
  width: 100%;
  font-size: 2.692rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.home_new_search_box_desc {
  font-size: 1.538rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.home_new_search_actions {
  font-size: 1.154rem;
  text-align: center;
  color: #ffffff;
}

.home_new_search_box_content_btn_dark {
  margin: 0 0 0 12px;
  padding: 13px 22px;
  border-radius: 15px;
  background-color: var(--second-color);
  text-align: center;
  color: #f7f3f3;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.home_new_search_box_content_btn_dark:hover {
  /* background-color: var(--hover-color); */
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .home_new_search_box_all {
    position: absolute;
    top: 150px;
  }

  .home_new_search_box_content_title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .home_new_search_box_desc {
    font-size: 0.838rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .home_new_search_actions {
    font-size: 1.154rem;
    text-align: center;
    color: #ffffff;
  }

  .home_new_search_box_content_btn_dark {
    margin: 0 0 0 12px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--second-color);
    text-align: center;
    color: #f7f3f3;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .home_new_search_box_content_btn_dark:hover {
    /* background-color: var(--hover-color); */
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .home_new_search_box_all {
    position: absolute;
    top: 60px;
  }

  .home_new_search_box_content_title {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .home_new_search_box_desc {
    font-size: 1.038rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .home_new_search_actions {
    font-size: 1.354rem;
    text-align: center;
    color: #ffffff;
  }

  .home_new_search_box_content_btn_dark {
    margin: 0 0 0 12px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--second-color);
    text-align: center;
    color: #f7f3f3;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .home_new_search_box_content_btn_dark:hover {
    /* background-color: var(--hover-color); */
    color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  .home_new_search_box_all {
    position: absolute;
    top: 20px;
  }

  .home_new_search_box_content_title {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .home_new_search_box_desc {
    font-size: 0.538rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .home_new_search_actions {
    font-size: 0.54rem;
    text-align: center;
    color: #ffffff;
  }

  .home_new_search_box_content_btn_dark {
    margin: 0 0 0 10px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--second-color);
    text-align: center;
    color: #f7f3f3;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    /* font-size: small; */
  }

  .home_new_search_box_content_btn_dark:hover {
    /* background-color: var(--hover-color); */
    color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .home_new_search_box_all {
    position: absolute;
    top: 20px;
  }

  .home_new_search_box_content_title {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .home_new_search_box_desc {
    font-size: 0.48rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .home_new_search_actions {
    font-size: 0.54rem;
    text-align: center;
    color: #ffffff;
  }

  .home_new_search_box_content_btn_dark {
    margin: 0 0 0 10px;
    padding: 8px 10px;
    border-radius: 15px;
    background-color: var(--second-color);
    text-align: center;
    color: #f7f3f3;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: small;
  }

  .home_new_search_box_content_btn_dark:hover {
    /* background-color: var(--hover-color); */
    color: #ffffff;
  }
}

@media screen and (max-width: 290px) {
  .home_new_search_box_all {
    position: absolute;
    top: 20px;
  }

  .home_new_search_box_content_title {
    width: 100%;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .home_new_search_box_desc {
    font-size: 0.32rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .home_new_search_actions {
    font-size: 0.4rem;
    text-align: center;
    color: #ffffff;
  }

  .home_new_search_box_content_btn_dark {
    margin: 0 0 0 5px;
    padding: 5px 8px;
    border-radius: 15px;
    background-color: var(--second-color);
    text-align: center;
    color: #f7f3f3;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: small;
  }

  a.home_new_search_box_content_btn_dark {
    font-size: 10px;
  }

  .home_new_search_box_content_btn_dark:hover {
    /* background-color: var(--hover-color); */
    color: #ffffff;
  }
}

section {
  margin-top: 3rem;
}

h1 {
  color: var(--main-color);
}

a {
  text-decoration: none;
}

.card {
  border: none;
}

#packages a ,#blog a,.review-text .review,.fa-handshake-angle ,.fa-map ,.fa-piggy-bank{
  color: var(--main-color) !important;
}



#packages a:hover ,#blog a:hover,.review-text .review:hover,.fa-handshake-angle:hover , .fa-map:hover , .fa-piggy-bank:hover {
  color: var(--hover-color) !important;
  transition: all 0.5s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-handshake-angle,
.fa-map,
.fa-piggy-bank {
  font-size: 24px; /* Adjust the font size as needed */
  color: var(--main-color); /* Use the main-color variable */
  transition: color 0.3s; /* Add a transition for color changes */
}

/* Apply the animation on hover */
.fa-handshake-angle:hover,
.fa-map:hover,
.fa-piggy-bank:hover {
  color: var(--hover-color); /* Change color on hover */
  animation: rotate 4s linear infinite; /* Add the rotation animation on hover */
}


.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.card .card-body {
  padding-left: 0 !important;
}

.card .card-body span {
  color: var(--second-color);
}

.card .card-body span::before {
  content: "$";
  width: 20px;
  height: 20px;
  color: var(--second-color);
}

.advice-text h1 {
  font-weight: bold;
  font-size: 50px;
  word-spacing: 10px;
}

.advice-card .card {
  background-color: #f1f1f1;
  border-radius: 50px;
  padding: 25px;
}

.advice-card svg {
  font-size: 85px;
}

.advice-card .card {
  height: 271px;
}


.review {
  /* text-align: center; */
  font-size: 2.5rem;
  font-weight: 600;
  color:  rgb(71, 69, 69);
  margin: 5rem 0;
  cursor: pointer;
  transition: all 0.5s ease;
  
}
.review:hover {
  color: var(--hover-color);
}
.review-section .social-icons {
  width: 3rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  right: 10px;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 20;
}.social-icons a{
  color: var(--main-color);
}
.social-icons .icon {
  margin: 1rem 0.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.8s all;
}
.social-icons .icon:hover {
  color: var(--hover-color);
  scale: 1.1;
}
.star-rate span {
  cursor: pointer;
  transition: 0.3s all ease-in;
  
}
.star-rate .rate{
  color: #fbbc04;
}
.checked {
  color: orange;
}
.review-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.review-wrapper .border {
  border: 1px solid  rgb(71, 69, 69);
  visibility: hidden;
}
.review-wrapper .review-box {
  width: 18rem;
  min-height: 2rem;
  border: none;
  outline: none;
  overflow: hidden;
  margin: 0 2rem;
}
.review-wrapper .review-box .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.review-wrapper .review-box .image img {
  width: 70%;
  height: 11rem;
  border-radius: 100%;
}
.review-wrapper .review-box .box-body {
  text-align: center;
}
@media (max-width: 767px) {
  .review-wrapper .review-box {
    padding: 5px;
    margin: 0 0 1.5rem 0;
  }
  .review-section .social-icons {
    width: 3.2rem;
    background-color: #eeeeee96;
  }
  .social-icons .fa {
    font-size: 2rem;
  }
}
@media (max-width: 479px) {
  .review-wrapper .review-box {
    margin: 0 0 1.5rem 0;
  }
  .review-wrapper .review-box .border {
    visibility: visible;
  }
}



.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-link {
  text-decoration: none;
  margin-right: 27px;
  font-weight: bold;
  padding: 10px 0px !important; 
  display: inline-block;
  position: relative; 
  color: var(--main-color);
  /* transition: transform 1s ease-in-out; */
}
/* .nav-link:hover{
  border-bottom: 1px solid orange;
} */

.nav-link.active {
  color: var(--hover-color) !important; 
  border-radius: 5px; 
}


.nav-link::before {
  content: ''; 
  position: absolute;
  width: 102%;
  height: 3px;
  background-color: var(--hover-color); 
  bottom: 0; 
  transform: scaleX(0);
  transform-origin: bottom right; 
  transition: transform 0.3s ease-in-out; 
  
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.main-color,.default-color{
  color: var(--main-color) !important;
}



.main-color:hover{
  color: var(--hover-color ) !important;
  transition: .4s;
}